# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ecom.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Youcode\source\repos\ecom\.idea\.idea.ecom\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
